{% extends "CoreBundle::template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ defaults.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    filter='cssrewrite'
        '@CoreBundle/Resources/public/common/css/tree.css'
        '@CoreBundle/Resources/public/template/css/tree.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .mockup img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            opacity: 0.8;
        }
        .mockup img:hover {
            background-color: #00a65a;
            opacity: 1;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
        }
        div.ext-box {
            display: table;
            min-height: 90px;
        }
        div.int-box {
            display: table-cell;
            vertical-align: middle;
        }

        ul#{{ defaults.module_main_ul }} li {
            padding: 4px 0 4px 0;
        }

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    {% javascripts
        '@CoreBundle/Resources/public/main-assets/ckeditor/ckeditor.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}#}


    <script>
        $(function () {

            $(document).on({
                mouseenter: function(){
                    $(this).find('div.tools').toggle();
                    $(this).toggleClass('bg-gray');
                },
                mouseleave: function(){
                    $(this).find('div.tools').toggle();
                    $(this).toggleClass('bg-gray');
                },
            }, 'span.{{ defaults.module_span }}');

        })
    </script>

    <script type="text/javascript">

        $(function() {

        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header" >
        <h1>
            <i class="fa fa-fw fa-object-group"></i> template default
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                xxxxx
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            {#LEFT#}
            <div class="col-md-9">
                <div class="box box-solid">

                    {#
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    #}

                    <div class="box-body">
                        <div class="row">

                            {#TOP#}
                            <div class="col-md-12">
                                {{ include('BackendBundle:TemplateSetupEdit:Modules/1_info_box.html.twig') }}
                            </div>
                            {#TOP#}

                            {#BOTTOM#}
                            <div class="col-md-12">

                                <p>&nbsp;</p>
                                {{ include('BackendBundle:TemplateSetupEdit:Pages/carousel.html.twig') }}

                            </div>
                            {#BOTTOM#}

                        </div>
                    </div>

                </div>
            </div>
            {#LEFT#}


            {#RIGHT#}
            <div class="col-md-3" style="padding-bottom: 50px">

                <div class="box-group" id="accordion">
                    {{ include('BackendBundle:TemplateSetupEdit:Accordion/index.html.twig') }}
                </div>

            </div>
            {#RIGHT#}

        </div>
    </section>

    {#{{ include('CoreBundle:Crud:Modal/info.html.twig') }}#}

{% endblock %}