{% extends "CoreBundle::template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ defaults.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#'@CoreBundle/Resources/public/main-assets/bower_components/ckeditor/skins/moono-lisa/editor.css',#}

    {% stylesheets
    filter='cssrewrite'
        '@CoreBundle/Resources/public/common/css/tree.css'
        '@CoreBundle/Resources/public/template/css/tree.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .mockup img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            opacity: 0.8;
        }
        .mockup img:hover {
            background-color: #00a65a;
            opacity: 1;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
        }
        div.ext-box {
            display: table;
            min-height: 60px;
        }
        div.int-box {
            display: table-cell;
            vertical-align: middle;
        }

        ul#{{ defaults.module_main_ul }} li {
            padding: 4px 0 4px 0;
        }

        .callout {
            border-color: #357ca5 !important;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    {% javascripts
        '@CoreBundle/Resources/public/main-assets/ckeditor/ckeditor.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}#}


    {#'@CoreBundle/Resources/public/main-assets/bower_components/ckeditor/lang/en.js'#}
    <script src="{{ asset('bundles/core/main-assets/bower_components/ckeditor/ckeditor.js') }}"></script>
    <script>

        $(document).on({
            mouseenter: function(){
                $(this).find('div.tools').toggle();
                $(this).toggleClass('bg-gray');
            },
            mouseleave: function(){
                $(this).find('div.tools').toggle();
                $(this).toggleClass('bg-gray');
            },
        }, 'span.{{ defaults.module_span }}');

        {{ render_ckeditor(templateHasModule.settings) }}

    </script>

    <script type="text/javascript">

        $(function() {

            $('form[name=template]').submit(function(e) {
                e.preventDefault();

                for ( instance in CKEDITOR.instances )
                {
                    CKEDITOR.instances[instance].updateElement();
                }

                var box = $('.info-box');
                var pencil = box.find('i.fa-pencil-square-o');
                var thumbs = box.find('i.fa-thumbs-o-up');
                var html = $(this).serializeArray();
//                html = JSON.stringify({'html':html});
//                html = escape(html);

                $.ajax({
                    url: '{{ path('backend_setupedittemplate_save') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: html,
                    cache: true,
                    beforeSend: function(jqXHR, settings) {

                    },
                    success: function(data, textStatus, jqXHR) {
                        box.removeClass('bg-light-blue');

                        if(data.status){
                            box.addClass('bg-green');
                            pencil.hide();
                            thumbs.show();
                        }else{
                            box.addClass('bg-red');
                        }
                    },
                    error: function(jqXHR, exception) {
                        box.removeClass('bg-light-blue');
                        box.addClass('bg-red');
                    }
                });

                setTimeout(function explode(){
                    box.removeClass('bg-green');
                    box.addClass('bg-light-blue');
                    pencil.show();
                    thumbs.hide();
                }, 1000);

            });

        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header" >
        <h1>
            <i class="fa fa-fw fa-object-group"></i> template paragraph
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            <li>
                xxxxx
            </li>
        </ol>
    </section>

    <section class="content">
        <form name="template">

            <input type="hidden" name="template_has_module_id" value="{{ templateHasModule.idIncrement }}">

            <div class="row">

                {#LEFT#}
                <div class="col-md-9">
                    <div class="box box-solid">

                        {#
                        <div class="box-header">
                            <h3 class="box-title">Data Table With Full Features</h3>
                        </div>
                        #}

                        <div class="box-body">
                            <div class="row">

                                {#TOP#}
                                <div class="col-md-10">
                                    {{ include('BackendBundle:TemplateSetupEdit:Modules/1_info_box.html.twig') }}
                                </div>
                                <div class="col-md-2 ext-box">
                                    <div class="int-box">
                                        <button type="submit" class="btn btn-sm btn-block btn-success">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                                {#TOP#}

                                {#BOTTOM#}
                                <div class="col-md-12">
                                    {{ render_settings(templateHasModule.settings, objectModule) }}
                                </div>
                                {#BOTTOM#}

                            </div>
                        </div>

                    </div>
                </div>
                {#LEFT#}


                {#RIGHT#}
                <div class="col-md-3" style="padding-bottom: 50px">

                    <div class="box-group" id="accordion">
                        {{ include('BackendBundle:TemplateSetupEdit:Accordion/index.html.twig') }}
                    </div>

                </div>
                {#RIGHT#}

            </div>
        </form>
    </section>

    {#{{ include('CoreBundle:Crud:Modal/info.html.twig') }}#}

{% endblock %}