{% extends 'CoreBundle::Crud/Template/api_content.html.twig' %}

{% block api_content %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="form-group">
        {{ form_label(formEntity.moduleOrder) }}
        {{ form_widget(formEntity.moduleOrder) }}
    </div>

    <div class="form-group">
        {{ form_label(formEntity.type) }}
        {{ form_widget(formEntity.type) }}
    </div>
{% endblock %}