{% extends "CoreBundle::template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {#datatables#}
    <link rel="stylesheet" href="{{ asset('bundles/core/assets/plugins/datatables/dataTables.bootstrap.css')}}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#datatables#}
    <script src="{{ asset('bundles/core/assets/plugins/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('bundles/core/assets/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>

    {#
    "bLengthChange": false,
    "bFilter": false,
    "bSort": true,
    "bInfo": true,
    "bAutoWidth": false,
    #}

    <script type="text/javascript">

        $(document).ready(function() {

            var tableJson = $('#table-json').DataTable({
                "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "Todos"]],
                "dom": '<"top"iflp><"clear">rt<"bottom"iflp>',
                "order": [[ 0, "desc" ]],
                "ordering": true,
                "paging": true,
                "info": true,
                "autoWidth": true,
                "filter": true,
                "data": {{ entitiesJson|raw }},
                "columns": [
                    {
                        "data": function (obj) {
                            return '<span class="badge bg-light-blue">' + obj.id_increment + '</span>';
                        }
                    },
                    {
                        "data": function (obj) {
                            return obj.name;
                        }
                    },
                    {
                        "data": function (obj) {
                            return obj.slug;
                        }
                    },
                    {
                        "data": function (obj) {
                            return obj.created_at;
                        }
                    },
                    {
                        "data": function (obj) {
//                            return '<a href="#" data-id="' + obj.id_increment + '" data-toggle="modal" data-target="#modal-edit" class="btn btn-warning btn-xs btn-edit" alt="Editar" title="Editar"><i class="fa fa-pencil"></i></a>'
                            return '<button class="btn btn-warning btn-xs" alt="Editar" title="Editar" data-toggle="modal" data-target="#modal-edit"><i class="fa fa-pencil"></i></button>';
                        }
                    }
                ],
                "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).attr("id", aData.id_increment);
                    $(nRow).attr("class", "alert");
                    return nRow;
                }
            });

            /*** DELETE ***/
            $('#table-json tbody').on('click', 'a.btn-delete', function () {

                var tr = $(this).parents('tr');
                setTrColor(tr, 'bg-red');
                setSpanTrId();

            });

            $(document).on('click', '#btn-delete-accept', function () {

                var id = $('.selected').attr('id');

                $.ajax({
                    type: 'post',
                    url: "{{ path('backend_accesscontrol_profile') }}",
                    dataType: "json",
                    data: {
                        'id': id
                    },
                    success: function(data) {
                        if(data.status == 'ok') {
                            tableJson.row('.selected').remove().draw(false);
                            $('#modal-delete').modal('hide');
                        }else if(data.status == 'access-denied') {
                            alert('Acceso denegado: no tiene permisos para eliminar');
                        }else{
                            alert('no se borro item con id: '+ id);
                        }
                    }
                });
            });
            /*** DELETE ***/

            function setSpanTrId(){
                var id = $('.selected').attr("id");
                $('.tr-id').html(id);
            }

            function setTrColor(tr, color){
                if (tr.hasClass('selected')) {
                    tr.removeClass('selected');
                    tr.removeClass(color);
                }
                else {
                    tableJson.$('tr.selected').removeClass('selected').removeClass(color);
                    tr.addClass('selected');
                    tr.addClass(color);
                }
            }

            $('#modal-delete, #modal-edit').on('hidden.bs.modal', function() {
                tableJson.$('tr.selected').removeClass('bg-yellow').removeClass('bg-red');
            });

        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-expeditedssl"></i> Gestionar role
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}
            <li>
                <button class="btn btn-success btn-xs" onclick="location.href='{{ path('backend_accesscontrol_profile') }}';">
                    <i class="fa fa-fw fa-plus"></i> crear perfil
                </button>
            </li>
            <li>
                <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-info">
                    <i class="fa fa-fw fa-info-circle"></i> info
                </button>
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">

                    {#
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    #}

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table-json" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>nombre</th>
                                        <th>slug</th>
                                        <th>creado</th>
                                        <th>&nbsp</th>
                                    </tr>
                                    </thead>

                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>nombre</th>
                                        <th>slug</th>
                                        <th>creado</th>
                                        <th>&nbsp</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {{ include("BackendBundle:AccessControl:Role/Modal/modal_edit.html.twig") }}
    {{ include("BackendBundle:AccessControl:Role/Modal/modal_info.html.twig") }}

{% endblock %}