{% extends "CoreBundle::template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#AdminLTE dashboard demo (This is only for demo purposes)#}
    <script src="{{ asset('bundles/backend/dist/js/pages/dashboard.js')}}"></script>

    {#AdminLTE for demo purposes#}
    <script src="{{ asset('bundles/backend/dist/js/demo.js')}}"></script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">

        {#{{ dump(app.user.profile.slug) }}#}


        <div class="row">
            {% if app.user.profile.slug == "docente" or app.user.profile.slug == "administrator" %}
                {{ include("BackendBundle:Default:Module/module_registrar_asistencia_docente.html.twig") }}
                {{ include("BackendBundle:Default:Module/module_registrar_asistencia_alumno.html.twig") }}
            {% endif %}
        </div>

        <div class="row">
            {% if app.user.profile.slug == "docente" or app.user.profile.slug == "administrator" %}
                {{ include("BackendBundle:Default:Module/comparar_notas.html.twig") }}
                {{ include("BackendBundle:Default:Module/examenes.html.twig") }}
            {% endif %}
        </div>


        <div class="row">
            {% if app.user.profile.slug == "docente" or app.user.profile.slug == "administrator" %}
                {{ include("BackendBundle:Default:Module/ingresar_notas_examen.html.twig") }}
                {{ include("BackendBundle:Default:Module/modulo_asistencia.html.twig") }}
            {% endif %}
        </div>


        <div class="row">
            {% if app.user.profile.slug == "alumno" %}
                {{ include("BackendBundle:Default:Module/examenes.html.twig") }}
                {{ include("BackendBundle:Default:Module/modulo_mi_resultado.html.twig") }}
            {% endif %}
        </div>

    </section>

{% endblock %}