{% extends "BackendBundle::template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {#datatables#}
    <link rel="stylesheet" href="{{ asset('bundles/backend/plugins/datatables/dataTables.bootstrap.css')}}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#datatables#}
    <script src="{{ asset('bundles/backend/plugins/datatables/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('bundles/backend/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>

    <script type="text/javascript">
        $(function () {

            $(document).on('click', '#eliminar-item', function() {
                $this = $(this);
                var id = $('#id-hidden').val();

                $.ajax({
                    type: 'post',
                    url: "{{ path('backend_gcm_delete') }}",
                    data: {
                        'id': id
                    },
                    success: function(data) {
                        var Data = $.parseJSON(data);

                        if(Data.status == 'ok') {
                            $('#delete-modal').modal('hide');
                            $('#id_increment_' + id).hide("slow", function () {
                                // Animation complete.
                            });
                        }else if(Data.status == 'access-denied') {
                            alert('Acceso denegado: no tiene permisos para eliminar');
                        }else{
                            alert('no se borro item con id: '+ id);
                        }
                    }
                });
            });

            $(document).on('click', '.eliminar-modal', function() {
                $this = $(this);
                $id = $this.data('id');
                $('#id-hidden').val($id);
                $('#id-hidden-span').html($id);
            });

            var table = $('#table-json').DataTable({
                "bPaginate": true,
                "bSort": false,
                "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "Todos"]],
                "data": {{ gcmJson | raw }},
                "language": {
                    "emptyTable": "No hay datos disponibles en la tabla"
                },
                "columns": [
                    { "data": function (obj) {
                        return '<span class="label label-default">' + obj.id_increment + '</span>';
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.user != null){
                                return obj.user.name + ' ' + obj.user.last_name;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.sound != null){
                                return obj.sound;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.badge != null){
                                return obj.badge;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.title != null){
                                return obj.title;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.body != null){
                                return obj.body;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                            if(obj.created != null){
                                return obj.created;
                            }
                            return "";
                        }
                    },
                    {
                        "data": function (obj) {
                        return '<a href="#" data-toggle="modal" data-id="' + obj.id_increment + '" data-target="#delete-modal" class="eliminar-modal btn btn-danger " alt="Eliminar" title="Eliminar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                        }
                    },
                ],
                "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    $(nRow).attr("id","id_increment_" + aData.id_increment);
                    return nRow;
                }
            });

        });
    </script>

{% endblock %}

{% block contenido %}

    {#id auto increment#}
    <input type="hidden" value="" id="id-hidden">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-google"></i> Gestionar gcm
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}
            <li>
                <a href="{{ path('backend_gcm_create') }}" style="color: #fff;" class="btn btn-block btn-success btn-sm">
                    <i class="fa fa-fw fa-plus"></i> crear notificación
                </a>
            </li>
        </ol>
    </section
            >

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">

                <div class="box">
                    <div class="box-header">

                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="info-box bg-yellow">
                                <span class="info-box-icon">
                                    <i class="fa fa-fw fa-info-circle"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">
                                        {{ flashMessage|raw }}
                                    </span>
                                    <span class="info-box-number">-</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%"></div>
                                    </div>
                                    <span class="progress-description">
                                    resultado del envio
                                    </span>
                                </div><!-- /.info-box-content -->
                            </div>
                        {% endfor %}

                        {#<h3 class="box-title">Data Table With Full Features</h3>#}
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="table-json" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>usuario</th>
                                                <th>sound</th>
                                                <th>badge</th>
                                                <th>title</th>
                                                <th>body</th>
                                                <th>creado</th>
                                                <th>&nbsp</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>#</th>
                                                <th>usuario</th>
                                                <th>sound</th>
                                                <th>badge</th>
                                                <th>title</th>
                                                <th>body</th>
                                                <th>creado</th>
                                                <th>&nbsp</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div><!-- /.box-body -->
                </div>




            </div><!-- ./col -->
        </div><!-- /.row -->

    </section><!-- /.content -->



    <div class="modal modal-danger" id="delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete item <span id="id-hidden-span" class="badge bg-red">-</span></h4>
                </div>
                <div class="modal-body">
                    <p>esta seguro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
                    <button id="eliminar-item" type="button" class="btn btn-outline">Eliminar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>




{% endblock %}