{% extends "CoreBundle::template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ template.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{#    {% stylesheets
    filter='cssrewrite'
    '@CoreBundle/Resources/public/main-assets/plugins/datatables/dataTables.bootstrap.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}#}

    <style>
        table tr td.td{
            vertical-align: middle !important;
            display: table-cell !important;
            text-align: center;
        }
        table tr th{
            text-align: center;
        }
        .small-box{
            margin-bottom: 0;
        }
        input[type=radio]{
            height: 25px;
            width: 25px
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@CoreBundle/Resources/public/template/js/formInfo.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('body.{{ template.body_css }}').formInfo({
                modal_info_id: '{{ template.modal_info_id }}',
                route_info: '{{ template.route_info }}',
            });

        });

        $('input[type=radio]').click(function(){

            var id = $(this).parent('td').parent('tr').data('id');
            var assigned = $('#tr-' + id).find('span.assigned');
            var loading = $('#tr-' + id).find('span.loading');
            var warning = $('#tr-' + id).find('span.warning');

            var allAssigned = $('span.assigned');
            var allWarning = $('span.warning');

            $.ajax({
                url: '{{ path('backend_setuptemplate_assign') }}',
                type: 'PUT',
                dataType: 'json',
                data: {
                    id:id
                },
                cache: true,
                beforeSend: function(jqXHR, settings) {
                    allAssigned.hide();
                    allWarning.hide();
                    loading.show();
                },
                success: function(data, textStatus, jqXHR) {
                    if(data.status){
                        loading.hide();
                        assigned.show();
                    }else{
                        warning.show();
                    }
                },
                error: function(jqXHR, exception) {
                    allAssigned.hide();
                    loading.hide();
                    warning.show();
                }
            });
        });
    </script>

{% endblock %}

{% block content %}

    <section class="content-header" >
        <h1>
            <i class="fa fa-fw fa-object-group"></i> Asignar template activo
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            {% for key, value in buttonHeader %}
                <li>
                    {{ value|raw }}
                </li>
            {% endfor %}
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">

                    {#
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    #}

                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-8">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th>template</th>
                                            <th style="width: 15%">active</th>
                                            <th style="width: 15%">actions</th>
                                            <th style="width: 15%">seleccionar sitio</th>
                                        </tr>

                                        {% for key, template in entity %}
                                            <tr id="tr-{{ template.id_increment }}" data-id="{{ template.id_increment }}">
                                                <td class="td">
                                                    <span class="badge bg-blue">
                                                        {{ template.id_increment }}
                                                    </span>
                                                </td>
                                                <td>
                                                    {{ include('BackendBundle:TemplateSetup:Pages/tr_1.html.twig') }}
                                                </td>
                                                <td class="td">
                                                    {{ include('BackendBundle:TemplateSetup:Pages/tr_2.html.twig') }}
                                                </td>
                                                <td class="td">
                                                    {{ include('BackendBundle:TemplateSetup:Pages/tr_3.html.twig') }}
                                                </td>
                                                <td class="td">
                                                    <input
                                                        type="radio"
                                                        name="template"
                                                        {{ template.is_active_template ? 'checked' : '' }}>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">
                                                    No hay templates creados.
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    {{ include('CoreBundle:Template:Modal/info.html.twig') }}

{% endblock %}