{% extends "CoreBundle::template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ template.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{#    {% stylesheets
    filter='cssrewrite'
    '@CoreBundle/Resources/public/main-assets/plugins/datatables/dataTables.bootstrap.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}#}

    <style>
/*        table tr td.td{
            vertical-align: middle !important;
            display: table-cell !important;
            text-align: center;
        }
        table tr th{
            text-align: center;
        }
        .small-box{
            margin-bottom: 0;
        }
        input[type=radio]{
            height: 25px;
            width: 25px
        }*/
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@CoreBundle/Resources/public/template/js/formInfo.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        $(document).ready(function() {

            $('body.{{ template.body_css }}').formInfo({
                modal_info_id: '{{ template.modal_info_id }}',
                route_info: '{{ template.route_info }}',
            });

        });



        {#
        $('input[type=radio]').click(function(){

            var id = $(this).parent('td').parent('tr').data('id');
            var assigned = $('#tr-' + id).find('span.assigned');
            var loading = $('#tr-' + id).find('span.loading');
            var warning = $('#tr-' + id).find('span.warning');

            var allAssigned = $('span.assigned');
            var allWarning = $('span.warning');

            $.ajax({
                url: '{{ path('backend_templatefrontend_assign') }}',
                type: 'PUT',
                dataType: 'json',
                data: {
                    id:id
                },
                cache: true,
                beforeSend: function(jqXHR, settings) {
                    allAssigned.hide();
                    allWarning.hide();
                    loading.show();
                },
                success: function(data, textStatus, jqXHR) {
                    if(data.status){
                        loading.hide();
                        assigned.show();
                    }else{
                        warning.show();
                    }
                },
                error: function(jqXHR, exception) {
                    allAssigned.hide();
                    loading.hide();
                    warning.show();
                }
            });
        });
        #}


    </script>

{% endblock %}

{% block content %}

    <section class="content-header" >
        <h1>
            <i class="fa fa-fw fa-cogs"></i> Site manage
            <small>lista</small>
        </h1>
        <ol class="breadcrumb">
            {#<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#<li class="active">Dashboard</li>#}

            {% for key, value in buttonHeader %}
                <li>
                    {{ value|raw }}
                </li>
            {% endfor %}
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-pencil-square-o"></i> {{ entity.name }}
                        </h3>
                    </div>

                    <div class="box-body">
                        <div class="row">

                            {% for i, objs in settings %}

                                {% for key, obj in objs %}
                                    <div class="col-md-4">
                                        <div class="box box-solid {{ randomBgColor() }}">
                                            <div class="box-body box-profile">
                                                <div class="text-center">
                                                    <i class="fa fa-fw fa-3x fa-{{ obj.icon }}"></i>
                                                </div>
                                                <h3 class="profile-username text-center">{{ obj.name }}</h3>
                                                <p class="text-muted text-center white">{{ obj.name_sub }}</p>
                                                <div class="text-center">
                                                    <a href="{{ obj.path is not empty ? path(obj.path, {template_id:entity.id_increment}) : '#' }}" class="btn btn-default btn-xs"><b>edit</b></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% else %}
                                <div class="col-md-12">
                                    <p>No hay templates creados.</p>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    {{ include('CoreBundle:Template:Modal/info.html.twig') }}

{% endblock %}