{% spaceless %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-sort-numeric-asc"></i>
                {{ form_label(formEntity.stock) }}
                {{ form_widget(formEntity.stock) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-minus-circle"></i>
                {{ form_label(formEntity.stockMin) }}
                {{ form_widget(formEntity.stockMin) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <i class="fa fa-fw fa-plus-circle"></i>
                {{ form_label(formEntity.stockMax) }}
                {{ form_widget(formEntity.stockMax) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <i class="fa fa-fw fa-text-width"></i>
        {{ form_label(formEntity.description) }}
        {{ form_widget(formEntity.description) }}
    </div>

{% endspaceless %}