{% extends "CoreBundle::template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        input[type=radio]{
            height: 20px;
            width: 20px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $( "button" ).click(function() {

            $('#modal-grades').modal({
                show: 'true'
            });

            var userId = $(this).data('user-id');
            $('#user_id').text(userId);

        });

        $( "#form-notas" ).submit(function( event ) {
            event.preventDefault();

            var userId = $('#user_id').text();

            var fields = $("form[name='form-notas']").serializeArray();

            $.ajax({
                url: '{{ path('backend_registerexamgrade_save_grades') }}',
                type: 'POST',
                dataType: 'json',
                data: {
                    fields:fields,
                    userId:userId
                },
                cache: true,
                beforeSend: function(jqXHR, settings) {

                },
                success: function(data, textStatus, jqXHR) {
                    if(data.status){
                        $('#modal-grades').modal('hide');


                        $( "#form-notas" ).each(function(){
                            this.reset();
                        });

                    }
                },
                error: function(jqXHR, exception) {
                    console.log('ERROR');
                }
            });
        });

    </script>

{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-file-text-o"></i> Modulo Registrar notas: lista de alumnos curso
            <span class="badge bg-blue">{{ course.idIncrement }}</span> {{ course.name }}
            <small>registrar asistencia de alumno</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">

        <div class="row">

            <form action="{{ path('backend_registerattendancestudent_listado_alumnos', {curso_id:course.idIncrement}) }}" method="post">

                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header"> {# with-border #}
                            <h3 class="box-title">Lista</h3>
                            <button type="submit" class="btn bg-purple btn-flat pull-right">Guardar cambios</button>
                        </div>
                        <div class="box-body">

                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Nombre</th>
                                    <th>Ingresar nota</th>
                                </tr>

                                {% for key, student in students %}
                                    <tr>
                                        <td>
                                            <small class="label bg-blue">{{ student.id }}</small>
                                        </td>
                                        <td>{{ student.name ~ ' ' ~ student.lastName }}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-user-id="{{ student.id }}">ingresar</button>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer">
                            {#<button type="submit" class="btn btn-primary">Enviar</button>#}
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </section>


    {{ include('BackendBundle:RegisterExamGrade:Modal/register-grade.html.twig') }}


{% endblock %}