{% extends 'CoreBundle::Crud/Template/api_content.html.twig' %}

{% block api_content %}

    {% if id is defined %}
        <input type="hidden" value="{{ id }}" name="id">
    {% endif %}

    {{ form_widget(formEntity._token) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <i class="fa fa-fw fa-sitemap"></i>
                {{ form_label(formEntity.templateECategory) }}
                {{ form_widget(formEntity.templateECategory) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="display: none;">
                {{ form_label(formEntity.templateHasModule) }}
                {{ form_widget(formEntity.templateHasModule) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(formEntity.title) }}
        {{ form_widget(formEntity.title) }}
    </div>

    <div class="form-group">
        {{ form_label(formEntity.content) }}
        {{ form_widget(formEntity.content) }}
    </div>

    <div class="form-group">
        {{ form_label(formEntity.excerpt) }}
        {{ form_widget(formEntity.excerpt) }}
    </div>

    <div class="form-group">
        {{ form_label(formEntity.keyword) }}
        {{ form_widget(formEntity.keyword) }}
    </div>

{% endblock %}